# Serverless项目配置文件
# 基于腾讯云版CLI及其多函数组件
# https://github.com/serverless-components/tencent-multi-scf/blob/master/docs/configure.md

# app和name定义两个的原因不明，似乎是库的设计问题
app: sdk-examples
name: scf-large-file
stage: ${env:STAGE}
component: multi-scf
inputs:
  src:
    src: ./
    exclude:
      - .env
      - .python-version
      - .gitignore
      - data
      - deprecated
      - tests
  runtime: Python3.6
  region: ap-chengdu
  functions:
    # 默认函数名为：`${name}-${stage}-${app}-${Key}`
    videos:
      src: ./video_list
      handler: index.main_handler
      role: SCF_StorageFullAccess
      memorySize: 64
      timeout: 180
      retryNum: 0
      environments:
        - key: QCLOUDSDK_COS_DEFAULT_BUCKET
          value: ${env:QCLOUDSDK_COS_DEFAULT_BUCKET}
        - key: QCLOUDSDK_COS_DEFAULT_PREFIX
          value: ${env:QCLOUDSDK_COS_DEFAULT_PREFIX}
        - key: QCLOUDSDK_EB_DEFAULT_EVENT_BUS_ID
          value: ${env:QCLOUDSDK_EB_DEFAULT_EVENT_BUS_ID}
    volumes:
      src: ./video_download
      handler: index.main_handler
      role: SCF_StorageFullAccess
      memorySize: 384
      timeout: 3600
      initTimeout: 300
      asyncRunEnable: true
      traceEnable: true
      retryNum: 0
      vpc:
        vpcId: ${env:VPC_ID}
        subnetId: ${env:SUBNET_ID}
      cfs:
        - cfsId: ${env:CFS_ID}
          mountInsId: ${env:CFS_MOUNT_ID}
          localMountDir: ${env:CFS_LOCAL_MOUNT_DIR}
          remoteMountDir: ${env:CFS_REMOTE_MOUNT_DIR}
      environments:
        - key: QCLOUDSDK_COS_DEFAULT_BUCKET
          value: ${env:QCLOUDSDK_COS_DEFAULT_BUCKET}
        - key: QCLOUDSDK_COS_DEFAULT_PREFIX
          value: ${env:QCLOUDSDK_COS_DEFAULT_PREFIX}
        - key: CFS_LOCAL_MOUNT_DIR
          value: ${env:CFS_LOCAL_MOUNT_DIR}
